body {
    font-family: Georgina;
    background-color: aliceblue;
}
#banner {
    background-color: #a00037;
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 3px;
    clear: both;
}
#article-container-left {
    float: left;
    width: 70%;
}
button {
    background-color: #D81860;
    color: white;
    padding: 15px;
    margin: 20px;
    width: 100%;
}
.news {
    display: none;
}
#footer {
    background-color: #D81860;
    color: white;
    padding: 5px;
    margin: 10px;
    width: 20%;
    box-shadow: 15px, 15px, 12px dimgray;
    float: left;
}
h5, blockquote {
    font-style: italic;
    text-align: center;
    margin: 0px;
}
img {
    height: 100%;
    width: 100%;
    border: 1px solid aliceblue;
}